<!DOCTYPE html>
<html>
<head>

  <% if !settings.development? %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KVQQTZR');</script>
    <!-- End Google Tag Manager -->
  <% end %>

  <title>Test statistics</title>
  <link rel="stylesheet" href="css/mc-skin.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <% if !settings.development? %>
      <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KVQQTZR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  <% end %>
  <div id="player-container">
    <video
      playsinline
      id="video"
      class="video-js streamone-player vjs-16-9"
      controls
      preload="none"
      width="640"
      height="360"
      >
      <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video>
    <a href="#" id="download">Download log</a>
  </div>
  <script src="javascript/streamone-player-v2.min.js"></script>
  <script src="javascript/all-languages.js"></script>
  <script src="javascript/mc_player.js"></script>
  <script>
    var playlist = [
      {
        id: 1,
        title: "First video",
        poster: "../img/ootoo.jpg",
        src: "https://s3-eu-west-1.amazonaws.com/makerschannel-alpha-heroku/marvin/video/SampleVideo_360x240_1mb.mp4"
      },
      {
        id: 2,
        title: "Second video",
        poster: "../img/moderntalking01.jpg",
        src: "https://makerschannel-alpha-heroku.s3.amazonaws.com/marvin/video/one_year_in_40%20seconds.mp4"
      },
      {
        id: 3,
        title: "Third video",
        poster: "../img/parabole.png",
        src: "https://s3-eu-west-1.amazonaws.com/makerschannel-alpha-heroku/marvin/video/30second.mp4"
      }
    ];
    developmentMode = <%= settings.development? %>;
    playerModule.init( playlist, developmentMode );
  </script>
</body>
</html>
