<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='mcDataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','mcDataLayer','GTM-KVQQTZR');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <title>Test anal</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Test anal</h1>
    <p>Dit is om analytics te testen, en dan in het bijzonder of een andere naam dan 'datalayer' gebruikt kan worden</p>
    <div id="some-button">
      CLICK ME
    </div>

    <script src="javascript/anal.js"></script>
  </body>
</html>
